@tailwind base;
@tailwind components;
@tailwind utilities;
.underline {
  height: 1px;
}

.overlay-img {
  max-height: 803.49px;
  object-fit: cover;
}
.empty-text {
  margin: auto;
}
.sidebar-container {
  background-color: rgba(0, 0, 0, 0.75);
}
.modal-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .modal-container {
    position: fixed;
    top: 0%;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 2s;
  }
  .show-modal {
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 377px) {
  .cart-items {
    height: 100%;
    top: 1%;
  }
}
@media screen and (min-width: 1200px) {
  .cart-items {
    width: 30rem;
  }
}
